<div class="hero-head">
    <header class="navbar">
        <div class="container">
            <div class="navbar-brand">
                <a [routerLink]="['/']" class="navbar-item">Inicio</a>
                <span class="navbar-burger burger">
                    <span></span>
                    <span></span>
                    <span></span>
                </span>
            </div>
        </div>
        <div class="navbar-menu">
            <div class="navbar-end">
                <a [routerLink]="['/outcomes']" class="navbar-item">Gastos</a>
            </div>
        </div>
    </header>
</div>
