<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:include="fragments/head"></th:block>
<body>
<!-- Page Wrapper -->
<div id="wrapper">
    <th:block th:include="fragments/sidebar"></th:block>
    <!-- Main Panel -->
    <div class="main-panel">
        <th:block th:include="fragments/navbar"></th:block>
        <!-- Begin Page Content -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <th:block th:include="categoryTemplates/newCat"></th:block>
                    </div>
                </div>
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content -->
    </div>
    <!-- End of Main Panel -->
    <th:block th:include="fragments/footer"></th:block>
</div>

<th:block th:include="fragments/scripts"></th:block>
</body>
</html>