<footer class="footer" data-background-color="black">
    <div class="container">
        <nav class="float-left">
            <ul>
                <li>
                    <a th:href="@{https://www.youtube.com/hampcode}" target="_blank">
                        Youtube
                    </a>
                </li>
                
            </ul>
        </nav>
        <div class="copyright float-right">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>, made with <i class="material-icons">favorite</i> by
            <a th:href="@{https://github.com/gitHAMP}" target="_blank">hamp</a>.
        </div>
    </div>
</footer>