<nav
	class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg"
	color-on-scroll="100" id="sectionsNav">
	<div class="container">
		<div class="navbar-translate">
			<a class="navbar-brand" th:href="@{/home}"> Articles App </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="sr-only">Toggle navigation</span> <span
					class="navbar-toggler-icon"></span> <span
					class="navbar-toggler-icon"></span> <span
					class="navbar-toggler-icon"></span>
			</button>
		</div>
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav ml-auto">
				<li class="dropdown nav-item"><a th:href="@{/articles/new}"
					class="nav-link" sec:authorize="isAuthenticated()"> <i
						class="fas fa-plus"></i> New Article
				</a></li>
				<li class="dropdown nav-item"><a th:href="@{/articles}"
					class="nav-link" sec:authorize="isAuthenticated()"> <i
						class="material-icons">apps</i> All Articles
				</a></li>
				<li class="dropdown nav-item" sec:authorize="!isAuthenticated()"><a
					th:href="@{/login}" class="nav-link"> <i class="material-icons">apps</i>
						Sign In
				</a></li>
				
				
				<li class="dropdown nav-item"><a th:href="@{/logout}"
					class="nav-link" sec:authorize="isAuthenticated()"> <i
						class="material-icons">apps</i> Sign Out
				</a></li>
				
			</ul>
		</div>
	</div>
</nav>
