<!--   Core JS Files   -->
<script th:src="@{/js/core/jquery.min.js}" type="text/javascript"></script>
<script th:src="@{/js/core/popper.min.js}" type="text/javascript"></script>
<script th:src="@{/js/core/bootstrap-material-design.min.js}" type="text/javascript"></script>
<script th:src="@{/js/plugins/moment.min.js}"></script>
<!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
<script th:src="@{/js/plugins/bootstrap-datetimepicker.js}" type="text/javascript"></script>
<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
<script th:src="@{/js/plugins/nouislider.min.js}" type="text/javascript"></script>
<!--  Google Maps Plugin    -->
<script th:src="@{https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE}"></script>
<!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
<script th:src="@{/js/material-kit.js?v=2.0.5}" type="text/javascript"></script>

<script>
    $(document).ready(function() {
        //init DateTimePickers
        materialKit.initFormExtendedDatetimepickers();

        // Sliders Init
        materialKit.initSliders();
    });


    function scrollToDownload() {
        if ($('.section-download').length != 0) {
            $("html, body").animate({
                scrollTop: $('.section-download').offset().top
            }, 1000);
        }
    }

</script>